@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Montserrat;
  font-weight: 100;
}

.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  height: 40px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  outline: none !important;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%),
    radial-gradient(circle at top left, #4458dc, #854fee);
  border: double 2px transparent;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
}

.primary-btn.second-btn {
  background-image: linear-gradient(#ffffff, #ffffff),
    radial-gradient(circle at top left, #4458dc, #854fee);
  border: 2px solid transparent;
  color: #222222;
  box-shadow: none;
}

.primary-btn:hover {
  background-image: linear-gradient(#ffffff, #ffffff),
    radial-gradient(circle at top left, #4458dc, #854fee);
  border: 2px solid transparent;
  color: #222222;
  box-shadow: none;
}

.primary-btn.second-btn:hover {
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%),
    radial-gradient(circle at top left, #4458dc, #854fee);
  border: double 2px transparent;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
  color: #fff;
}

.aa {
  background-color: rgba(0, 0, 0, 0.5);
}
